
.banner {
    /*调整空隙*/
    margin-bottom: 50px;
    background-color: #FBB91A;
}

.banner a {
    display: block;
    /*100%就表示a的宽度和父盒子一样宽*/
    width: 100%;
    height: 465px;
    background: url("../images/banner.jpg") no-repeat center top;
}


.game-vedio {
    padding-bottom: 43px;
    border-bottom: 1px solid #DBE1E7;

    margin-bottom: 53px;
}

.game-vedio .game-item {
    /*li与li之间的外边距*/
    margin-right: 42px;
}
/*这里的权重需要注意,取消最后一个li的右margin,不然就父盒子距离不够会掉下来*/
.game-vedio .marginRight0 {

    margin-right: 0;
}

.game-vedio .game-item img {
    /*图片大小不一,设定一下图片的大小*/
    width: 218px;
    height: 130px;
    margin-bottom: 9px;
}
/*标题*/
.game-item .title {
    text-align: center;
    color: #444866;
    font: 700 12px/24px "Microsoft YaHei";
}
/*点击播放那几个*/
.game-item .playr {
    text-align: center;
    /*在这里设置a是无法通过继承影响的*/

}
.game-item .playr a {
    color: #38B774;
    font: 400 11px/23px "Arial", "SimSun";
}

/*博雅新闻和招聘开始*/

.news-invite {
    padding-bottom: 54px;
    /*border-bottom: 1px solid red;*/
    background: url("../images/indexmainbg.jpg") no-repeat bottom center ;

}

.news-invite .left {
    width: 500px;
    height: 310px;
    background: url("../images/bynewsbg.jpg") no-repeat 0 0;
}
.news-invite .right {
    width: 500px;
    height: 310px;
    background: url("../images/byhrbg3.jpg") no-repeat 0 0;

}

/*博雅新闻和招聘结束*/


/*版权声明模块*/
.footer {
    height: 91px;
    background-color: #191D3A;
}

.footer .footer-shuoming {
    color: #6C6E7E;
    font: 400 9px/91px "Microsoft YaHei";
}

.gsj {
    padding-top: 20px;
    margin-left: 8px;
}




